<?xml version="1.0"?>
<config>
    <modules>
        <Kvh_Simpleseo>
            <version>0.1.0</version>
        </Kvh_Simpleseo>
    </modules>
      
    <global> 
	
	
	<blocks>
      <simpleseo>
        <class>Kvh_Simpleseo_Block</class>
      </simpleseo> 
       <catalog>
            <rewrite> 
				<product_view>Kvh_Simpleseo_Block_Catalog_Product_View</product_view> 
				<category_view>Kvh_Simpleseo_Block_Catalog_Category_View</category_view> 
			</rewrite>
      </catalog>  
    </blocks>     
    </global> 
</config>